.footer {
    display: flex;
    background-color: var(--footer-background);
}

.footer-content-wrapp{
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 60px;
    @extend %conteiner
}

.contacts-content-wrapper {
    display: flex;
    flex-direction: column;

    &__text{
        font-family: $main_font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.8;
        color: var(--address-text-color);
        margin-bottom: 9px;
        margin-top: 20px;
    }
}

.footer-contacts-list {
    list-style-type:none ;
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 9px;
    }
}

.footer-contact {
    display: flex;
    font-family: $main_font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--contact-hover-default);
    text-decoration: none;
    text-decoration: none;
    font-style: normal;
}

.footer-soc-ref-list {
    display: flex;
    align-self: center;
    justify-content: center;
    list-style-type: none;
    width: 206px;
    margin-top: 0px;

    &__item {
        margin-right: 10px;
    }
    
}

.footer-soc-link-wrapp{
    display: flex;
    margin-left: 70px;
    margin-top: 12px;
    flex-direction: column;

    &__title {
        font-family: $main-font;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--follow-us-title-text);
        margin-bottom: 20px;
    }
    
}

.footer-soc-referece{
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    background-color: var(--footer-soc-icon-background);

    &:focus,
    &:active,
    &:hover {
    background-color: var(--soc-referece-backgrond-hover);
}

    &:focus .footer-soc-link-anker__soc-icon,
    &:active .footer-soc-link-anker__soc-icon,
    &:hover .footer-soc-link-anker__soc-icon{
        fill: var(--soc-icon-fill-hover);
    }

    &__soc-icon {
        display: flex;
        height: 20px;
        width: 20px;
        fill:var(--footer-soc-icon-fill-deflaut);
    }
}