.logo {
    font-style: $logo_font;
    text-decoration: none;

    &__first-verb{
        font-family: $logo_font;
        font-family: $logo_font;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: var(--logo-first-verb-color);
        margin-left: 0px;
        margin-right: 0px;
    }

    &__second-verb{
        font-family: $logo_font;
        font-family: $logo_font;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: var(--logo-second-verb-color);
        margin-left: 0px;
        margin-right: 0px;
    
    }

    &__second-verb--footer {
        @extend .logo__second-verb;
        color: var(--footer-logo-second-verb-color);
    }
    
}

@media screen and (min-width:360), (max-width:480px) {
    .logo {
        font-size: 24px;
        line-height: 1.2;
    }
}