@media screen and (min-width:360), (max-width:480px) {

    .mobile-menu-wrapper {
        display: block;
        padding: 40px 48px;
        max-block-size: 320px;
    }

    .mobile-navigation-list {
        list-style-type: none;
        margin-bottom: 302px;
        &__item {
            margin-bottom: 36px;
        }
    }

    .header-link {
        font-size: 40px;
        line-height: 1;

        &:focus,
        &:hover,
        &:active{
        color: var(--header-link-active);
        }
    }

    .mobile-contacts-list {
        list-style-type:none ;
        margin-bottom: 64px;
    }

    .mobile-contacts-list__item {
        margin-bottom: 32px;
        .contact-anker__text {
            font-size: 34px;
            line-height: 1.25;
            color:var(--contact-tel-default);
        }
    }

    .mobile-contacts-list__item--end {
        .contact-anker__text {
            font-size: 24px;
            line-height: 1.2;
            color:var(--contact-mail-default);
        }
    }
    
    .mobile-soc-list {
        flex-wrap: wrap;
        list-style-type: none;
        display: flex;
        max-width: 100vh;

        &__item--start {
            padding-right: 10px;
        }

        &__item--end {
            padding-left: 10px;
        }


        &__item--second {
            padding-right: 10px;
            padding-left: 10px;
            border-left: 1px solid;
            background-color: var (--mobile-soc-list-item-border);
        }

    }

    .mobile-soc-list__item {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid;
        border-right: 1px solid;
        background-color: var (--mobile-soc-list-item-border);
    }

    .mobile-soc-anker {
        margin: 0px auto;
        text-decoration: none;
        &__text {
            font-family: inherit;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.2;
            color:var(--mobile-soc-anker-text)
        }
    }

}